<div>
  <div class="row panel panel default espaco">
    <div class="col-sm-6 col -xs-12">
      <img
        style="max-width: 300px"
        src="../assets/AngularShieldLogo.png"
        alt="logo"
      />
    </div>
    <div class="col-sm-6 col -xs-12 text-right">
      <button (click)="MostrarLoja()" class="btn btn-secondary btn-size">
        Loja</button
      ><br />
      <button (click)="MostrarStock()" class="btn btn-secondary btn-size">
        Stock
      </button>
    </div>
  </div>
</div>
<app-loja *ngIf="loja_visivel"></app-loja>
<app-stock *ngIf="stock_visivel"></app-stock>

<router-outlet></router-outlet>
